
<!DOCTYPE html>



    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>WebProvisioning v.01</h1>
        <p>This is a template showcasing the possibilities webprovisioning system extremly skillfully put togetheter in less than one week by the master of the universe (also known as he-man). </p>
      </div>


  <!-- Form for creating a entry in the usertable that is used to generate at MYSQL DB and user / pass and a copy of the WP 
		in /var/web/
   -->


<form accept-charset="UTF-8" action="/" method="post">
	<label form="Firmid">ifirmid</label>
	<input class="form-control input-sm" id="fimid" type="text">	
	<input name="utf8" type="hidden" value="&#x2713;" />
	<input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
</form>


  <div class="form-group">
    <label for="firmid">ifirmid</label>
    <input class="form-control input-sm" id="fimid" type="text">
  </div>
</form>      